@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'Cera Pro';
    src: url('./assets/fonts/CeraPro-Regular.woff2') format('woff2'),
        url('./assets/fonts/CeraPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Cera Pro', sans-serif;

}    

.header {
    display: grid;
    grid-template-columns: 4fr 1.2fr;
    grid-auto-rows: minmax(450px, auto);
    &-image {
        background-image: url('./assets/img/mobileHeader.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-menu {
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(40px);
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    &-text {
        display: none;
        img {
            display: none;
        }
    }
    &-icons {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
        .lang {
            display: none;
        }
    }
    &-title {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        &__logo {
            width: 45px;
        }
        
    }
    &-name {
        font-style: normal;
        color: #000000;
        h3 {
            transform: rotate(90deg);
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
        }
        h2 {
            transform: rotate(90deg);
            position: relative;
            top: 80px;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
        }
    }
}

.c-hamburger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    font-size: 0px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    .line {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 16px;
        border: 1px solid black;
        background-color: black;
        
    }
    .line.one {
        margin-bottom: 3px;
    }
    .line.three {
        margin-top: 3px;
    }
}
.c-hamburger:focus {
    outline: none;
}
.c-hamburger-line {
    background: transparent;
    transition-delay: 0.3s;
    transition-duration: 0.3s;
}
.c-hamburger-line span {
    transition: background 0s 0.3s;
}
.c-hamburger-line .line{
    transition-duration: 0.3s, 0.3s ;

}
.c-hamburger-line .line.one {
    transition-property: margin-bottom, transform;
}
.c-hamburger-line .line.three{
    transition-property: margin-top, transform;
}
.c-hamburger-line.is-active {
    transition-delay: 0.3s;
    transition-duration: 0.3s;
}
.c-hamburger-line.is-active .line.two {
    background: none;
    border: 0px;
    transition-delay: 0.3s;
}
.c-hamburger-line.is-active .line.one {
    margin-bottom: -1px;
    transform: rotate(-45deg);
}
.c-hamburger-line.is-active .line.three {
    margin-top: -1px;
    transform: rotate(45deg);
}
.c-hamburger-line.is-active .line {
    transition-delay: 0s, 0.3s;
} 

.container {
    max-width: 330px;
    margin:  0 auto;
}

.colors {
    position: relative;
    h2 {
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        width: 80%;
        margin-left: 30px;
        margin-block-end: 0em;
    }
    h3 {
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.03em;
    }
    &-description {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 132.4%;
        color: #292929;
        width: 82%;
        margin: 30px auto;
    }
    &-name {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #000000;
        transform: rotate(-90deg);
        width: fit-content;
    }
    &-sub-title {

        font-size: 13px;
        line-height: 18px;
        text-align: right;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    
}
.cubes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &-single {
        &__color {
            width: 70px;
            height: 50px;
            background: #9A0034;
        }
        &__color.second {
            background: #E8D8D9;
        }
        &__color.third {
            background: #D7969E;
        }
        &__color.four {
            background: #DEDCDC;
        }
        &__color.five {
            background: #898989;
        }
        &__color.six {
            background: #B7B7B7;
        }
        &__color.seven {
            background: #000000;
        }

    }
    &-single.first {
        text-align: -webkit-right;
        margin-top: 50px;

    }
    &-single.first .cubes-single__color {
        width: 133px;
    }
    &-single.first .cubes-single__text {
        width: fit-content;
        transform: rotate(-90deg);
        margin-bottom: 40px;
        margin-right: -28px;
    }
    &-block {
        display: flex;
        flex-wrap: wrap;
        margin-left: 60px;
        margin-top: 50px;
        .cubes-single {
            margin-right: 30px;
        }
        .cubes-single.four {
            margin-right: 0px;
        }
    }

    &-single.four {
        display: flex;
        width: 100%;
        justify-content: end;

    }
    &-block.second {
        margin-left: 0px;
    }
    &-single.five {
        width: 100%;
    }
    &-single.six {
        margin-left: 100px;
    }

}
.footer {
    margin-top: 90px;
    padding-bottom: 120px;
    .logo {
        width: 65px;
    }
    .footer-content {
        position: relative;
        .logo-virna {
            position: absolute;
            left: 0;
            top: 85px;
            transform: rotate(90deg);
        }
        &__text {
            text-align: right;
            h2 {
                font-weight: bold;
                font-size: 42px;
                line-height: 53px;
                letter-spacing: 0.02em;
            }
            p {
                width: fit-content;
                font-size: 13px;
                line-height: 16px;
                letter-spacing: 0.04em;
                color: #000000;
                transform: rotate(-90deg);
                margin-top: 70px;
                margin-left: 90px;
                font-weight: 900;
            }
        }
    }
}

//768

@media(min-width:767px) {
    .header {
        grid-template-columns: 4fr 0.8fr;
        &-image {
            background-image: url('./assets/img/header.png');
        }
        &-menu {
            justify-content: space-between;
        }
        &-icons {
            justify-content: flex-start;
            .c-hamburger {
                margin-left: 30px;
                margin-right: 60px;
            }
           .lang {
               display: flex;
               margin-left: 50px;
           }
           .icon {
               margin: 0 3px;
           }
        }
        &-text {
            display: block;
            margin-top: 30px;
            margin-left: 30px;
            img {
                display: block;
            }
            h2 {
                font-weight: bold;
                font-size: 42px;
                line-height: 100%;
                letter-spacing: 0.02em;
            }
            p {
                font-weight: 500;
                font-size: 13px;
                text-align: right;
                letter-spacing: 0.04em;
                color: #000000;
                transform: rotate(-90deg);
                position: relative;
                width: 100px;
                top: 20px;
                right: 35px;
            }
        }
        &-title {
            justify-content: start;
            margin-top: 30px;
            .lang {
                display: none;
            }
        }
        &-name {
            margin-top: 130px;
            h3 {
                font-size: 16px;
                line-height: 20px;
            }
            h2 {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .container {
        max-width: 690px;
    }
    .colors {
        
        h3 {
            text-align: center;
        }
        h2 {
            width: 45%;
        }
        &-description {
            width: 270px;
            margin: 30px 0px;
            float: right;
        }
        .clearfix {
            clear: both;
        }
        &-sub-title {
            text-align: left;
            margin-left: 180px;
        }
    }
    .cubes {
        &-single.first .cubes-single__color {
            width: 210px;
        }
        &-block {
            display: flex;
            flex-wrap: wrap;
            margin-left: 60px;
            margin-top: 50px;
            .cubes-single {
                margin-right: 30px;
            }
            .cubes-single.second {
                margin-left: 70%;
            }
            .cubes-single.third {
                order: -1;
                width: 100%;
                margin-left: 54%;
            }
            .cubes-single.four {
                margin-right: 0px;
                width: auto;
            }
        }

    }
    .footer {
        margin-top: 105px;
        padding-bottom: 120px;
        .logo {
            width: 65px;
        }
        .footer-content {
            .logo-virna {
                width: 220px;
            }
            &__text {
                margin-left: 70px;
                h2 {
                    text-align: center;
                }
                p {
                    margin-left: 175px;
                }
            }
        }
    }
}

//960

@media(min-width:960px) {
    .header {
        grid-auto-rows: minmax(530px, auto);
        &-text {
            margin-left: 100px;
            img {
                display: block;
            }
            h2 {
                font-size: 48px;
            }

        }
        &-icons {
            justify-content: flex-start;
            .c-hamburger {
                margin-left: 100px;
                margin-right: 100px;
            }
           .lang {
               display: flex;
               margin-left: 50px;
           }
           .icon {
            margin: 0 5px;
        }
        }

    }
    .container {
        max-width: 770px;
    }
    .cubes {
          &-single__color {
              width: 90px;
          }
    }
    .footer {
        .logo {
            width: 75px;
        }
        .footer-content {
            .logo-virna {
                width: 220px;
                top: 120px;
            }
            &__text {
                margin-left: 70px;
                h2 {
                    font-size: 48px;
                }
                p {
                    margin-left: 200px;
                }
            }
        }
    }
}

//1440
@media(min-width:1440px) {
    .header {
        background-image: url('./assets/img/header.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        grid-auto-rows: minmax(800px, auto);
        &-image {
            background:none;
        }
        &-menu {
            width: 65%;
        }
        &-text {
            margin-left: 140px;
            img {
                display: block;
            }
            h2 {
                font-size: 72px;
                width: 80%;
                margin-top: 150px;
            }

        }
        &-icons {
            margin-bottom: 50px;
            justify-content: flex-start;
            .c-hamburger {
                margin-left:140px;
                margin-right: 100px;
            }
            .lang {
               display: flex;
               margin-left: 200px;
           }
           .icon {
                margin: 0 7px;
            }
        }
        &-title {
            margin-top: 0px;
            padding-top: 30px;
            background: white;
        }

    }
    .container {
        max-width: 1170px;
    }
    .colors {
        &-description {
            margin: 30px 100px;
        }
    }
    .cubes {
        &-single.first .cubes-single__color {
            width: 280px;
        }
          &-single__color {
              width: 130px;
          }
    }
    .footer {
        margin-top: 155px;
        padding-bottom: 220px;
        .logo {
            width: 75px;
        }
        .footer-content {
            .logo-virna {
                width: 350px;
            }
            &__text { 
                margin-left: 70px;
                h2 {
                    font-size: 48px;
                }
                p {
                    margin-left: 400px;
                }
            }
        }
    }
}

//1920
@media(min-width:1920px) {
    .header {
        grid-auto-rows: minmax(1000px, auto);

        &-menu {
            width: 65%;
        }
        &-text {
            margin-left: 250px;
            img {
                display: block;
            }
            h2 {
                font-size: 72px;
                width: 55%;
                margin-top: 220px;
            }

        }
        &-title {
            margin-top: 0px;
            padding-top: 30px;
            background: white;
        }
        &-icons {
            margin-bottom: 70px;
            .c-hamburger {
                margin-left:250px;
                margin-right: 100px;
            }
            .lang {
               display: flex;
               margin-left: 300px;
           }
           .icon {
                margin: 0 10px;
            }
        }
        &-name {
            margin-top: 250px;
        }

    }
    .container {
        max-width: 1410px;
    }
    .colors {
        &-description {
            margin: 30px 100px;
        }
    }
    .cubes {
        &-single.first .cubes-single__color {
            width: 280px;
        }
          &-single__color {
              width: 130px;
          }
    }
    .footer {
        margin-top: 200px;
        padding-bottom: 350px;
        .logo {
            width: 75px;
        }
        .footer-content {
            .logo-virna {
                width: 450px;
                top: 160px;
            }
            &__text {
                margin-left: 70px;
                h2 {
                    font-size: 48px;
                }
                p {
                    margin-left: 510px;
                }
            }
        }
    }
}